@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
		 url('../fonts/GothamPro-Light.woff') format('woff');	
	font-style: normal;
	font-weight: 300;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro.woff2') format('woff2'),
		 url('../fonts/GothamPro.woff') format('woff');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
		 url('../fonts/GothamPro-Medium.woff') format('woff');	
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
		 url('../fonts/GothamPro-Bold.woff') format('woff');	
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'GothamPro';
	src: url('../fonts/GothamPro-Black.woff2') format('woff2'),
		 url('../fonts/GothamPro-Black.woff') format('woff');	
	font-style: normal;
	font-weight: 900;
}

*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	        box-sizing: border-box;
}

html, body{
	margin: 0;
	font-family: 'GothamPro';
	font-size: 16px;
	width: 100%;
	height: 100%;
}

